@tailwind base;
@tailwind components;
@tailwind utilities;


  /* index.css */

.bg-custom-image {
    background-image: url(/bg1.jpg);
    background-repeat: no-repeat;
    background-size: cover;
  }
  
